@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Montserrat:wght@700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root, .app {
    height: 100%;
    width: 100%;
    font-family: "DM Sans", sans-serif;
    @apply text-gray-500
}
::-webkit-scrollbar{
    height: 4px;
    width: 10px;
    background: gray;
}
::-webkit-scrollbar-thumb:horizontal{
    background: #000;
    border-radius: 10px;
    
}
::-webkit-scrollbar-thumb:vertical{
    background: rgb(94 0 0 / var(--tw-text-opacity));
    border-radius: 10px;
}
